<h2>Démonstration : Formulaires</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div formGroupName="personalInfo">

        <h3>Informations personnelles:</h3>

        @let firstName = this.personalInfo?.get('firstName');

        <label for="firstName">Prénom:</label>
        <input type="text" id="firstName" formControlName="firstName" (input)="check()">
        <div class="error" *ngIf="firstName?.touched && firstName?.errors">
            <span *ngIf="firstName?.errors?.['required']">
                Le prénom est requis
            </span>
            <span *ngIf="firstName?.errors?.['minlength']">
                Le prénom doit contenir au moins 3 caractères
            </span>
        </div>


        <h4>Validité de la donnée:</h4>
        <!-- Le contrôle passe toutes les validations -->
        <p>valid: {{ personalInfo?.get('firstName')?.valid }}</p>
        <!-- Le contrôle ne passe pas au moins une validation -->
        <p>invalid: {{ personalInfo?.get('firstName')?.invalid }}</p>
        <!-- Le contrôle est en cours de validation asynchrone -->
        <p>pending: {{ personalInfo?.get('firstName')?.pending }}</p>


        <h4>Modification de la donnée:</h4>
        <!-- Le contrôle n'a jamais été modifié depuis son initialisation -->
        <p>pristine: {{ personalInfo?.get('firstName')?.pristine }}</p>
        <!-- Le contrôle a été modifié depuis son initialisation -->
        <p>dirty: {{ personalInfo?.get('firstName')?.dirty }}</p>


        <h4>Interaction:</h4>
        <!-- L'utilisateur n'a pas encore interargi avec le contrôle -->
        <p>untouched: {{ personalInfo?.get('firstName')?.untouched }}</p>
        <!-- L'utilisateur a interargi avec le contrôle (focus puis blur) -->
        <p>touched: {{ personalInfo?.get('firstName')?.touched }}</p>

        <label for="lastName">Nom de famille:</label>
        <input type="text" id="lastName" formControlName="lastName" (input)="check()">
        <div class="error" *ngIf="personalInfo?.get('lastName')?.errors">
            <span *ngIf="personalInfo?.get('lastName')?.errors?.['required']">
                Le prénom est requis.
            </span>
            <span *ngIf="personalInfo?.get('lastName')?.errors?.['minlength']">
                Le prénom doit contenir au moins 2 caractères.
            </span>
        </div>

        <label for="email">Email:</label>
        <input type="text" id="email" formControlName="email" (input)="check()">
        <div class="error" *ngIf="personalInfo?.get('email')?.errors">
            <span *ngIf="personalInfo?.get('email')?.errors?.['required']">
                Le prénom est requis.
            </span>
            <span *ngIf="personalInfo?.get('email')?.errors?.['email']">
                Le format de l'email n'est pas correct.
            </span>
        </div>

    </div>

    <div>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" formControlName="password" (input)="check()">
        <div class="error" *ngIf="f['password']?.touched && f['password']?.errors">
            <span *ngIf="f['password']?.errors?.['required']">
                Le mot de passe est requis.
            </span>
            <span *ngIf="f['password']?.errors?.['digit']">
                {{ f['password'].errors?.['digit'].message }}
            </span>
            <span *ngIf="f['password']?.errors?.['uppercase']">
                {{ f['password'].errors?.['uppercase'].message }}
            </span>
            <span *ngIf="f['password']?.errors?.['lowercase']">
                {{ f['password'].errors?.['lowercase'].message }}
            </span>
            <span *ngIf="f['password']?.errors?.['specialChar']">
                {{ f['password'].errors?.['specialChar'].message }}
            </span>

        </div>

        <label for="confirmPassword">Confirmer le mot de passe:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" (input)="check()">
        <div class="error" *ngIf="f['confirmPassword']?.touched && f['confirmPassword']?.errors">
            <span *ngIf="f['confirmPassword']?.errors?.['passwordMatch']">
                Les mots de passe sont différents.
            </span>
        </div>

    </div>

    <button [disabled]="userForm.invalid">Envoyer</button>

</form>